#mainDiv{
    width: 1000px;
    margin: auto;
}

#contentDiv{
    height: 50vh;
    margin: 5%;
}

#contentDiv > img{
    height: 80%;
    width: auto;
    float: left;
}

#score{
    background-color: lightgreen;
    width: 5%;
    text-align: center;
    border-radius: 5%;
    margin-top: 2%;
    float: right;
}

p{
    text-align: justify;
}

.carousel{
    position: relative;
    height: 10%;
    width: 100%;
}

.slide{
    width: 20%;
    display: none;
    margin: 2.5%;
    float: left;
}

.slide img{
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  